[user]
	name = Mario Uher
	email = uher.mario@gmail.com
	signingkey = 75B3D888
[github]
	user = ream88
[apply]
	whitespace = nowarn
[core]
	excludesfile = /Users/mario/.gitignore
	quotepath = false
	whitespace = -blank-at-eol
	editor = vim
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	unstage = reset HEAD
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s" --decorate
	up = "!git remote update -p; git merge --ff-only @{u}"
	latest = for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(refname:short)'
	stsh = stash --keep-index
	staash = stash --include-untracked
	staaash = stash --all
	it = !git init && git commit -m 'Git init' --allow-empty
	commend = commit --amend --no-edit
[push]
	default = current
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
	keepBackup = true
[merge]
	tool = Kaleidoscope
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
