<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.user.dropbox.work</string>
	<key>Program</key>
	<string>/Applications/Dropbox.app/Contents/MacOS/Dropbox</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/Mario/Code</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
